
@model WeatherForToday.ViewModels.CountryViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-heading text-center">
        <h1>Weather Information</h1>
        <h2>Select Country</h2>

        <h3>@ViewBag.sr</h3>
        <form class="p-a-1" asp-action="SelectCity" method="post">
            <div>
                <select asp-for="Country" asp-items="Model.CountryList"> </select>
            </div>
            <div>
                <br /><button class="btn btn-primary" type="submit">Select Country</button>
            </div>
        </form>

    </div>
</body>
</html>
